body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins',sans-serif;
  background: #262626;
}
.center{
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}
h3{
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  color: #fff;
}
h3 span {
  font-size:3em;
  line-height: 0.8em;
}
#clock{
  display: flex;
  width: 570px;
  margin: 0 auto;

}
#clock div{
  position: relative;
  width: 100px;
  padding: 20px;
  margin:0 5px;
  background: #262626;
  color: #fff;
  border: 2px solid #000;
}
#clock div:last-child{

  background: #e91e63;
}
#clock div:before{
   content:'';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 50%;
   background: rgba(255, 255, 255, .2);
}
#clock div span{
  display: block;
  text-align: center;
}
#clock div span:nth-child(1){
 font-size: 36px;
}


























